.notification {
    border-bottom: 1px solid lightgray;
    //height: 5vh;
    padding: 2vh 5vh;
    align-items: center;
    justify-content: space-around;
}

.infoNotif {
    width: 70%;
}

.timestamp {
    color: lightgray;
    width: 10%;
    font-size: 0.8em;
}

.imageNotif {
    border: 3px solid lightgray;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 0.5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
}

.newNotif {
    background-color: #edf0ff;
.notification {
    border-bottom: 1px solid lightgray;
    //height: 5vh;
    padding: 2vh 5vh;
    align-items: center;
    justify-content: space-around;
}
}

.infoNotif {
    width: 70%;
}

.timestamp {
    color: lightgray;
    width: 10%;
    font-size: 0.8em;
}

.imageNotif {
    border: 3px solid lightgray;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 0.5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
}

.newNotif {
    background-color: #edf0ff;
}