.label{
    font-family:MadeBold;
}

h1{
    text-align: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.banner h2, h4
{   
    padding:0;margin:0;
    color: #FBFEF9;
    font-size: 48px;
    text-shadow: #000004 0px 0px 4px;
    text-align: center;
}

.banner h4 {font-size:24px;}


.banner
{
    display:block;
    height: 50vh;
    text-align:center;
    margin-top:22vh;
    filter: drop-shadow(#0000047a 0px 0px 4px);
    z-index: 2;
}

.bg
{
    width: 100%;
    height: 85vh;
    margin-top:-72vh;
    display: block;
    position: relative;
    align-items: center;
    overflow:hidden;
    z-index:-50;
}

.offer-sheet
{
    background-color: white;
    padding:3%;margin:10%;
    margin-top: 2%;
    margin-bottom:2%;
    box-shadow:#0000047a 0px 0px 10px; 
    text-align: justify;
}


.main_infos
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}