<ul class="navbar">
  <div class="nav-left">
    <ul>
      <li style="height: 70%">
        <a routerLink="/">ACCUEIL</a>
      </li>
      <li>
        <a routerLink="/offers">LES OFFRES</a>
      </li>
      <li>
        <a routerLink="/faq">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="nav-right">
    <ul>
      <li *ngIf="!currentUser">
        <a routerLink="/login">Se connecter</a>
      </li>
      <li *ngIf="currentUser">
        <a *ngIf="currentUser.isStudent" routerLink="/profile">
          <img src="../../assets/images/0xpuser.png" alt="Profile logo">
        </a>
      </li>
    </ul>
  </div>
</ul>