
.navbar
{
    display: flex;
    position: fixed;
    top:0;
    width:100%;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    margin:0;padding:0;
    background-color: #3e4259;
    //box-shadow: #000004 0px 0px 10px;
    z-index: 1001;
}

.nav-left{
    width:70%
}

.nav-right{
    width:30%
}
.nav-left ul{
    justify-content: flex-start;
    align-items: center;
}

.nav-right ul{
    justify-content: flex-end;
    align-items: center;
}
ul
{
    display: flex;
    width: 70%;
    list-style-type: none;
}

ul li
{
    margin-left:50px;
    width: fit-content;
}

img{
    width: 60px;
    margin-top: 25px;
}
a
{
    text-decoration:none;
    color: #FBFEF9;
}

a:hover
{
    color: #FBFEF9;
    text-decoration:underline;
    text-decoration-color: var(--color-orange);
    cursor:pointer;
}