<ul class="navbar">
  <div class="nav-left">
    <ul>
      <li style="height: 70%">
        <a routerLink="/">ACCUEIL</a>
      </li>
      <li>
        <a routerLink="/offers">LES OFFRES</a>
      </li>
      <li>
        <a routerLink="/companies">Donner son avis</a>
      </li>
      <li>
        <a routerLink="/faq">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="nav-right">
    <ul>
      <li *ngIf="!currentUser">
        <a routerLink="/login">Se connecter</a>
      </li>
      <li *ngIf="currentUser">
        <div class="button profilBox" routerLink="/profile">
          <img src="../../assets/images/0xpuser.png" alt="Profile logo">
          <div *ngIf="currentUser.isStudent">
            <div class="notifInfo">
              <p>!</p>
            </div>
            <div class="notifAlert">
              <p>2</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ul>