<div class="texte">
    <h1>Informations importantes et Foire Aux Questions</h1>
    <p>Les périodes de stages sont des moments importants de votre formation d'ingénieurs. Ils sont au coeur des échanges entre l'école et le monde économique. Ils vous permettront de mettre en situation les acquis académiques et de découvrir les différentes missions qu'un ingénieur est amené à réaliser.</p>
    <p>La règlementation nationale ainsi que les critères définis par la Commission des Titres de l'Ingénieur sont très stricts concernant les objectifs et le statut du stagiaire. Aussi vous devez impérativement lire et respecter les différentes informations et procédures que l'école a mis en place pour gérer votre stage.</p>

    <h2>Règles de base</h2>
    <table>
        <tr>
            <td><strong>Stage 1A</strong></td>
            <td>Découverte de l'entreprise</td>
            <td>4 semaines minimum</td>
            <td>A partir du 29/06/2020</td>
        </tr>
        <tr>
            <td><strong>Stage 2A</strong></td>
            <td>Découverte du métier d'ingénieur</td>
            <td>8 semaines minimum</td>
            <td>A partir du 01/06/2020</td>
        </tr>
        <tr>
            <td><strong>Stage 3A</strong></td>
            <td>Travail de Fin d'Etude</td>
            <td>16 semaines minimum</td>
            <td>A partir du 30/03/2020</td>
        </tr>
    </table>
    <ul>
        <li>Pour être diplomé(e) vous devez cumuler <strong>28 semaines de stage conventionnées et validées</strong> pendant votre scolarité à Centrale Marseille, dont 14 semaines en entreprise.</li>
        <li>Les durées minimales des différents stages sont imposées et ne peuvent pas se compenser entre elles.</li>
        <li>Tout stage doit préalablement faire l'objet d'une validation pédagogique (procédure ici). En particulier, l'école refusera toute demande :
            <ul><li>Ne correspondant pas aux attentes pédagogiques du stage concerné</li><li>Ne correspondant pas aux attentes pédagogiques du stage concerné</li></ul>
        </li>
    </ul>
</div>

<app-faq-question [question]="questions[0]" [answer]="answers[0]"></app-faq-question>
<app-faq-question [question]="questions[1]" [answer]="answers[1]"></app-faq-question>
<app-faq-question [question]="questions[2]" [answer]="answers[2]"></app-faq-question>
<app-faq-question [question]="questions[3]" [answer]="answers[3]"></app-faq-question>
<app-faq-question [question]="questions[4]" [answer]="answers[4]"></app-faq-question>
<app-faq-question [question]="questions[5]" [answer]="answers[5]"></app-faq-question>
<app-faq-question [question]="questions[6]" [answer]="answers[6]"></app-faq-question>
<app-faq-question [question]="questions[7]" [answer]="answers[7]"></app-faq-question>

<h2 class="texte">Questions - Réponses Stages 1A</h2>

<app-faq-question [question]="questions[8]" [answer]="answers[8]"></app-faq-question>
<app-faq-question [question]="questions[9]" [answer]="answers[9]"></app-faq-question>
<app-faq-question [question]="questions[10]" [answer]="answers[10]"></app-faq-question>

<h2 class="texte">Questions - Réponses Stages 2A</h2>

<app-faq-question [question]="questions[11]" [answer]="answers[11]"></app-faq-question>
<app-faq-question [question]="questions[12]" [answer]="answers[12]"></app-faq-question>
<app-faq-question [question]="questions[13]" [answer]="answers[13]"></app-faq-question>
<app-faq-question [question]="questions[14]" [answer]="answers[14]"></app-faq-question>
<app-faq-question [question]="questions[15]" [answer]="answers[15]"></app-faq-question>
<app-faq-question [question]="questions[16]" [answer]="answers[16]"></app-faq-question>
<app-faq-question [question]="questions[17]" [answer]="answers[17]"></app-faq-question>

<h2 class="texte">Questions - Réponses Stages TFE</h2>

<app-faq-question [question]="questions[18]" [answer]="answers[18]"></app-faq-question>
<app-faq-question [question]="questions[19]" [answer]="answers[19]"></app-faq-question>
<app-faq-question [question]="questions[20]" [answer]="answers[20]"></app-faq-question>
<app-faq-question [question]="questions[21]" [answer]="answers[21]"></app-faq-question>
<app-faq-question [question]="questions[22]" [answer]="answers[22]"></app-faq-question>
<app-faq-question [question]="questions[23]" [answer]="answers[23]"></app-faq-question>
<app-faq-question [question]="questions[24]" [answer]="answers[24]"></app-faq-question>

<h2 class="texte">Questions - Réponses Double Diplôme sortant</h2>

<app-faq-question [question]="questions[25]" [answer]="answers[25]"></app-faq-question>
<app-faq-question [question]="questions[26]" [answer]="answers[26]"></app-faq-question>

<h2 class="texte">Questions - Réponses Stages en Césure</h2>

<app-faq-question [question]="questions[27]" [answer]="answers[27]"></app-faq-question>
<app-faq-question [question]="questions[28]" [answer]="answers[28]"></app-faq-question>
<app-faq-question [question]="questions[29]" [answer]="answers[29]"></app-faq-question>
<app-faq-question [question]="questions[30]" [answer]="answers[30]"></app-faq-question>
<app-faq-question [question]="questions[31]" [answer]="answers[31]"></app-faq-question>
<app-faq-question [question]="questions[32]" [answer]="answers[32]"></app-faq-question>