.texte {
    width: 80vw;
    margin: auto;
}

h1 {
    margin: 20vh auto 5vh auto;
    color: var(--color-blue-medium);
}

h2 {margin-top: 4vw;}

ul li {font-family: MadeRegular, Calibri;}

table 
{
    border-collapse: collapse;
    margin:auto;
    margin-bottom: 5vh;
}

td {
    border: 0.5px #00000052 solid;
    padding: 10px;
}

.btn
{
    display:block;
    border-radius: 25px;
    width:20vw;
    text-align: center;
    padding: 2vh 1vw 2vh 1vw;
    margin:auto;
    margin-top: 5vh;
    background-color: var(--color-blue-medium);
    box-shadow: #00000447 0px 2px 3px;
    color:white;
    text-decoration: none;
}

.questions {
    margin:auto;
    margin-bottom: 15vh;
    width: 80vw;
}