.texte {
    width: 80vw;
    margin: auto;
}

h1 {
    margin: 20vh auto 10vh auto;
}

h2 {
    width: 80vw;
    margin: 5vh auto;
}

table {
    border-collapse: collapse;
}

td {
    border: 0.5px #00000052 solid;
    padding: 10px;
}

.questions {
    margin-bottom: 15vh;
}