<div class="texte">
    <h1>Informations importantes et Foire Aux Questions</h1>
    <p>Les périodes de stages sont des moments importants de votre formation d'ingénieurs. Ils sont au coeur des échanges entre l'école et le monde économique. Ils vous permettront de mettre en situation les acquis académiques et de découvrir les différentes missions qu'un ingénieur est amené à réaliser.</p>
    <p>La règlementation nationale ainsi que les critères définis par la Commission des Titres de l'Ingénieur sont très stricts concernant les objectifs et le statut du stagiaire. Aussi vous devez impérativement lire et respecter les différentes informations et procédures que l'école a mis en place pour gérer votre stage.</p>

    <h2>Règles de base</h2>
    <table>
        <tr>
            <td><strong>Stage 1A</strong></td>
            <td>Découverte de l'entreprise</td>
            <td>4 semaines minimum</td>
            <td>A partir du 29/06/2020</td>
        </tr>
        <tr>
            <td><strong>Stage 2A</strong></td>
            <td>Découverte du métier d'ingénieur</td>
            <td>8 semaines minimum</td>
            <td>A partir du 01/06/2020</td>
        </tr>
        <tr>
            <td><strong>Stage 3A</strong></td>
            <td>Travail de Fin d'Etude</td>
            <td>16 semaines minimum</td>
            <td>A partir du 30/03/2020</td>
        </tr>
    </table>
    <p>Pour être diplomé(e) vous devez cumuler <strong>28 semaines de stage conventionnées et validées</strong> pendant votre scolarité à Centrale Marseille, dont <strong>14 semaines en entreprise</strong>.</p>
    <p>Les durées minimales des différents stages sont imposées et ne peuvent pas se compenser entre elles.</p>
    <p>Tout stage doit préalablement faire l'objet d'une validation pédagogique (cf. lien ci-dessous). En particulier, l'école refusera toute demande :</p>
    <ul>
        <li>Ne correspondant pas aux attentes pédagogiques du stage concerné</li>
        <li>Ne correspondant pas aux attentes pédagogiques du stage concerné</li>
    </ul>
    <a class="button btn" href="https://stages.centrale-marseille.fr/" target="_blank"><strong>Procédure de validation pédagogique</strong></a>    
</div>

<div class="questions">
    <h2>Général</h2>
    <app-faq-question *ngFor="let el of general" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h2>Stages 1A</h2>
    <app-faq-question *ngFor="let el of stages1a" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h2>Stages 2A</h2>
    <app-faq-question *ngFor="let el of stages2a" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h2>Stages TFE</h2>
    <app-faq-question *ngFor="let el of stagestfe" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h2>Double Diplôme sortant</h2>
    <app-faq-question *ngFor="let el of ddsortants" [question]="el.quest" [answer]="el.answ"></app-faq-question>

    <h2>Stages en Césure</h2>
    <app-faq-question *ngFor="let el of cesures" [question]="el.quest" [answer]="el.answ"></app-faq-question>
</div>