$details-width:70%;

.img-bloc
{
    display: block;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 5vh;
    height:20vh;
    width:20vh;
    border-radius: 50%;
    text-align: center;
    justify-items: center;
    overflow: hidden;  

    .img-center {
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.co
{
    border: 2px solid var(--color-blue-dark);  
}


.bar-details {
    background-color: #e4e4e4;
    border-radius: 30px;
    width: $details-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.bar-button {
    width: 20vw;
    text-align:center;
    padding: 2vh 0 2vh 0;
    border-radius: 30px;
    color: #707070;
    font-family: MadeBold;
}

.bar-button:hover {
    cursor: pointer;
}

.current {
    background-color: #03c9d3;
    color: #ffffff;
}

.square-sections {
    width: $details-width;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #00000424 0px 0px 5px;
    padding: 20px;
    margin-top: 10px;
}

.logout {
    text-align: center;
    margin-bottom: 20px;
}

.logout a {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--color-orange);
    color: white;
}

.logout a {
    cursor: pointer;
}

.profile-box {
    margin-bottom: 7vh;
}

.messageProfil {

    width: 25vw;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;

    img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .information {
        color: #ffc355;
        text-align: center;
    }
}