<div class="flexRow-spaceBet boxContainer" [routerLink]="[offer.id]">
  <div class="flexCol logo_com">
    <img src="{{offer.srcImgCompany}}" />
  </div>
  <div class="previewInfos">
    <h2>{{offer.title}}</h2>
    <h3>{{offer.company}}</h3>

    <div class="infos flexRow-spaceBet">
      <p>{{offer.location}}</p>
      <p>{{offer.type}}</p>
      <p>{{offer.sector}}</p>
    </div>
  </div>

  <p class="createdString">{{strDateCreated}}</p>

  <h1 class="percentageMatching" [style]="colorScore">{{offer.matchingScore}}%</h1>
</div>