.boxContainer {
    height: max-content; //15vh;
    padding: 1vh 3vw;
    box-shadow: #00000447 0px 2px 3px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    border: 0.5px #00000052 solid;
    position: relative;
    width: fit-content;
    margin: 0px;

    &:hover {
        transform: scale(1.005);
        background-color: rgb(238, 250, 253);
    }
}

.logo_com {
    height: 16vh;
    width: 8vw;
    justify-content: center;

}

img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.previewInfos {
    width: 73%;
    margin-left: 1vw;

    .infos {
        p {
            width: 20vw;
            text-align: center;
        }
    }
}

.createdString {
    right: 10px;
    bottom: 5px;
    position: absolute;
    margin: 0px;
    color: gray;
}

.previewInfos h2,
h3 {
    margin: 0;
    padding: 0;
}

.previewInfos p {
    margin-bottom: 0;
    margin-top: 2vh;
}