<div *ngIf="isModalopen" class="modal">

    <div class="modal-header">
        <div class="cancel button" (click)="openOrClose()"><img src="https://image.flaticon.com/icons/svg/22/22108.svg">
        </div>
        <div class="modal-header-content">
            <h1>Ajouter une entreprise</h1>
        </div>
    </div>

    <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Nom de l'entreprise</label>
                <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors">
                    <div *ngIf="f.name.errors.required">Le nom est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="date_of_creation">Date de création</label>
                <input type="date" formControlName="date_of_creation"
                    [ngClass]="{ 'is-invalid': submitted && f.date_of_creation.errors }" />
                <div *ngIf="submitted && f.date_of_creation.errors">
                    <div *ngIf="f.date_of_creation.errors.required">La date de création est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="location">location</label>
                <select type="text" formControlName="location"
                    [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                    <option value="Marseille">Marseille</option>
                    <option value="Paris">Paris</option>
                    <option value="Lyon">Lyon</option>
                    <option value="Bordeaux">Bordeaux</option>
                </select>
                <div *ngIf="submitted && f.location.errors">
                    <div *ngIf="f.location.errors.required">La location est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors">
                    <div *ngIf="f.description.errors.required">La description est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="taille">Taille</label>
                <select type="text" formControlName="taille" [ngClass]="{ 'is-invalid': submitted && f.taille.errors }">
                    <option value="1-10">1-100</option>
                    <option value="11-100">11-100</option>
                    <option value="101-1 000">101-1000</option>
                    <option value="1 001-10 000">11-100</option>
                    <option value="+10 000">+10 000</option>
                </select>
                <div *ngIf="submitted && f.taille.errors">
                    <div *ngIf="f.taille.errors.required">La taille est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="srcImage">Url Image logo</label>
                <textarea type="text" formControlName="srcImage"
                    [ngClass]="{ 'is-invalid': submitted && f.srcImage.errors }"></textarea>
            </div>
            <div class="form-group">
                <label for="isPartner">Entreprise partenaire</label>
                <input type="checkbox" formControlName="isPartner"
                    [ngClass]="{ 'is-invalid': submitted && f.isPartner.errors }" />
            </div>

            <div class="form-buttons">
                <button [disabled]="loading">
                    <span *ngIf="loading"></span>
                    Enregistrer
                </button>
                <button class="button btn-close" (click)="openOrClose()">Annuler</button>
            </div>
        </form>
    </div>
</div>

<div style="margin:4vh;">
    <div>
        <button class="add-company" (click)="openOrClose()">+ Ajouter une entreprise</button>
    </div>

    <app-list-company></app-list-company>
</div>