.modal {
    position: absolute;
    width: 76%;
    margin: auto 12%;
    height: auto;
    background-color: white;
    z-index: 3;
    border-radius: 10px;
    box-shadow: #0000047a 0px 0px 10px;
}

.cancel {
    position: absolute;
    right: 0;
    top: 0;
    height: 22px;
    width: 22px;
    margin: 10px;
}

.logo-company {
    filter: drop-shadow(#0000047a 0px 0px 4px);
    margin-top: 40px;
    margin-bottom: 40px;
}

.modal-header-content {
    text-align: center;
}

.modal-header-content h1 {
    font-size: 28px;
    margin: 0;
}

.modal-header-content h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}

.modal-body {
    width: 90%;
    margin: auto;
    text-align: justify;
}

#location {
    text-align: right;
}

.modal-footer {
    text-align: center;
    margin: 25px;
}

button {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: var(--color-blue-medium);
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
}

.button:hover {
    text-decoration: underline;
}

.banner h2,
h4 {
    padding: 0;
    margin: 0;
    color: #FBFEF9;
    font-size: 2.5em;
    text-shadow: #000004 0px 0px 4px;
    text-align: center;
}

.banner h4 {
    font-size: 24px;
}


.banner {
    display: block;
    height: 30vh;
    text-align: center;
    margin-top: 22vh;
    filter: drop-shadow(#0000047a 0px 0px 4px);
    z-index: 2;
}

.bg {
    width: 100%;
    height: 85vh;
    margin-top: -72vh;
    display: block;
    position: relative;
    align-items: center;
    overflow: hidden;
    z-index: -50;
}



.matching {
    width: 10vw;
    height: 10vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10%;
    display: flex;
    color: #000004;
    background-color: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: #0000047a 0px 0px 10px;
    z-index: 1;
}

.matching h1 {
    font-size: 2.5em;
}

.matching h4 {
    padding: 0;
    margin: 0;
    color: #000004;
    text-shadow: none;
    font-size: 2em;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

.offer-sheet {
    background-color: white;
    padding: 3% 10%;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: #0000047a 0px 0px 10px;
    text-align: justify;
}

ul li {
    font-family: CdtLight;
    font-size: 20px;
}


.main_infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.btn-success {
    color: white;
    background-color: #03C9D3;
    border-color: transparent;
    box-shadow: #0000047a 0px 0px 5px;
    margin-left: 42%;
    margin-right: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    border-color: transparent;
}

.btn-success:hover {
    background-color: rgb(6, 173, 182);
}