<div class="flexRow-spaceBet boxContainer">
  <div class="logo_com">
    <img src="{{offer.srcImgCompany}}"/>
  </div>
  <!--<img src="./../../../assets/images/Logo.png"/>-->
  <div class="previewInfos">
    <h2>{{offer.title}}</h2>
    <h3>{{offer.company}}</h3>
    <!--
    <h2>Développeur Full-Stack H/F</h2>
    <h3>Zero-xp.com</h3>
    -->
    <div class="flexRow-spaceBet">
      
      <h5>{{offer.location}}</h5>
      <h5>{{offer.type}}</h5>
      <!--<h5>{{offer.xp-req}}</h5>-->
      <h5>{{offer.domain}}</h5>
    <!--
      <h5>Marseille, France</h5>
      <h5>Stage 4-6 Mois</h5>
      <h5>Bac +5</h5>
      <h5>Informatique</h5>
    -->
    </div>
  </div>

  <h5>{{offer.date}}</h5>
  <!--<h5>Il y a 1 heure</h5>-->

  <h1 class="percentageMatching" [style]="colorScore">{{matchingScore}}%</h1>
  <!--<h1 class="percentageMatching" [style]="colorScore">95%</h1>-->
</div>