.boxContainer {
    height: max-content; //15vh;
    padding: 1vh 3vw;
    margin: auto;
    box-shadow: #00000447 0px 2px 3px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    border: 0.5px #00000052 solid;
    position: relative;
    width: max-content;
}

.form-group{
    padding:10px;
    text-align: left;
}

.form-group > input{
    margin: 10px;
    border-bottom: 1px solid gray;
}

.form-group > label{
    margin-right: 10px;
}

.avis-preview{
    display:flex;
    margin-left:8vw;

    .noteGlobale
    {
        align-items: flex-end;
    }

    h3
    {
        font-style: oblique;
        color:gray;
        margin-top: 0;
    }
}

.avis-box{
    margin:2vw;
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top:0;
    }
}

.form-avis
{
    margin-bottom : 5vh;
    text-align: center;
}

button {
    border: none;
    border-radius: 25px;
    padding: 0.1vh 1.5vw;
    background-color: var(--color-blue-medium);
    color:white;
    box-shadow: #00000447 0px 2px 3px;
    cursor:pointer;
    margin: 2vh;
}

textarea{
    min-height: 20vh;
    min-width: 30vw;
    font-family: MadeRegular, Calibri;
}