<div *ngFor="let offre of listOfferCompany">
  <div class="offer-co-preview">
    <div class="infos">
      <div class="title">
        <h2>{{offre.title}}</h2>
        <p>{{offre.type}} - {{offre.duration}} - Il y a deux heures</p>
      </div>
      <h4>12 candidats | 0 refus | 12 en attente</h4>
    </div>
    <div class="modify"><img src="https://image.flaticon.com/icons/svg/1159/1159633.svg" alt="modify" class="logo-mod"/></div>
    <div class="delete" (click)="modalOn()"><img src="https://image.flaticon.com/icons/svg/1656/1656830.svg" alt="delete" class="logo-del"/></div> 
  </div>

  <div *ngIf="this.modalSwitch" class="modalDelete">
    <h3>Êtes-vous de vouloir supprimer cette offre ?</h3>
    <h4>{{offre.title}}</h4>
    <br/>
    <div style="display: flex; justify-content: space-evenly;">
      <p class="button btn-delete" (click)="deleteItem()">Confirmer</p>
      <p class="button" (click)="modalOff()">Annuler</p>
    </div>
  </div>
</div>

