// Confirmation modal

.modalDelete
{
    z-index: 10;
    display: block;
    box-shadow: var(--shadow-light);
    background-color: white;
    width: 30vw;
    height: 15vh;
    border-radius:10px;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: -10vh; 
    padding:2%;
    position:sticky;
    top:20vh;
    left:35vw;
}

.btn
{
    box-shadow: var(--shadow-light);
    padding:3%; padding-right: 5%;padding-left: 5%;
    border-radius: 30px;
}

.btn-delete
{
    color:white;
    background-color: red;
}

// Offer preview

.offer-co-preview
{
    box-shadow: var(--shadow-light);
    overflow: hidden;
    border-radius:10px;
    align-items: center;
    padding:1vh 3vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin:auto;
    width:80%;
    margin-bottom: 1vh;

    &:hover {
        transform: scale(1.005);
        background-color: white;
    }
}

.infos
{
    z-index: -1;
    display: flex;
    justify-content: space-between;
    width:90%;
    align-items: center;
    padding-right:3vw;
}

h2,h3, h4, p {padding:0;margin:0;}

.flex
{
    display: flex;

    .item
    {
        width:10vw;
    }
}

.modify
{
    height:5vh;
    width:5vh;
    justify-items: center;
}

.logo-mod
{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left:auto;
    margin-right:auto;
}

.delete
{
    height:5vh;
    width:5%;
}

.logo-del
{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left:auto;
    margin-right:auto;
}

// Add element

.addOffer
{
    width:11vw;
    align-items: center;
    margin-right: 5vw;
    margin-left: auto;
    justify-content: space-between;
    margin-bottom: 2vh;
    padding: 1vh 2vw;
}

.modaleEdition{
    position: fixed;
    left: 10%;
    top: 12vh;
    height: 80vh;
    overflow-y: scroll;
    width: 80%;
    box-shadow: var(--shadow-light);
    background-color: #F5F5F5;

    .closeLogo{
        width: 1vw;
        height: 1vw;
        position: absolute;
        right: 1vw;
        top: 1vw;
    }
}

.modaleEdition::-webkit-scrollbar-track 
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.modaleEdition::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.modaleEdition::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000bf;
}