img{
    align-self: center;
    width: 3vh;
    height: 3vh;
}

.mainFilterText{
    width: 60vw;
    margin: auto;
    margin-top: 8vh;
    padding: 1vh 2vw 1vh 5vw;
    border-radius:50px;
    box-shadow: #00000447 0px 0px 4px;
    position: relative;
    
    input{
        height: 6vh;
        font-family: MadeMedium;
        font-size: medium;
        width:95%;
    }
}

.boxMandatory{
    box-shadow: #00000447 0px 1px 2px;
    border-radius: 5px;
    width: 60vw;
    margin:auto;
    padding: 1vh;
    position: relative;
    margin-bottom: 2px;

    h3{
        text-align: center;
    }
    p{
        color:#adadad;
    }
}

.listSelect{
    width:90%;
    margin:6vh auto -2vh auto;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
    box-shadow: #00000447 0px 0px 5px;;        //TODO:revoir taille des box qui dépassent
    border-radius: 50px;
    padding: 0.5vh 1vw 0.5vh 1vw;
    border-top: 0px;
    p{
        width:10vw;
    }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
    height:0px !important;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform:translateY(-1.68125em) scale(.75) perspective(100px) translateZ(.001px) !important;
}

::ng-deep .mat-form-field-label-wrapper{
    overflow:visible !important;
}

::ng-deep .mat-form-field-ripple{
    background-color:transparent !important;
}

::ng-deep .mat-select-value-text{
    color:#adadad !important;
}

.textOpenMoreCriteria{
    text-align: center;
    margin-bottom:1vh;
}

.logoShowMoreCriteria{
    width: 6vh;
    height: 6vh;
    transform: rotate(0deg);
    display: block;
    margin: -3vh auto 2vh auto;
    transition-property: all;
    transition-duration: 0.2s;
}

.moreFilterDiv{
    p{
        color:#adadad;
        margin-bottom: 0px;
    }

    .formLine{
        margin:auto;
        justify-content: space-between;
    }

    .line1{
        width:80%;
        margin-bottom: 5vh;
    }
    .line2{
        width:90%;
    }
    .line3{
        width:60%;
        text-align: center;
    }

    .sliderValue{
        width: 200px;
        justify-content: space-between;
    }
}

.moreFilterOpenImg{
    transform: rotate(180deg);
}

::ng-deep .mat-form-field-infix{
    padding-bottom: .5em;
    padding-top: 0px;
    border-top: 0px solid transparent;
}

::ng-deep .mat-slide-toggle{
    display: flex !important;
    margin: auto;
    width: fit-content;
    padding: 0.5em;
}

.notifOnFilter{
    position: absolute;
    right: -5vw;
    width:2vw;
}

.btn {
    border-radius: 25px;
    width:10vw;
    margin:4vh auto 4vh auto;
    padding: 1vh 1vw;
    text-align: center;
    background-color: var(--color-blue-medium);
    box-shadow: #00000447 0px 2px 3px;
    color:white;
}