.logo{
    width:10vw;
    margin:auto;
    display: block;
}

.slogan{
    text-align:center;
    color:gray;
}

h1{
    text-align: center;
    font-style: oblique;
    font-size: x-large;
    color:var(--color-blue-medium);
}