<div style="padding-top: 2vh;">

    <img class="logo" src="../../assets/images/logo_blue.svg"/>
    <h1 class="slogan">Naviguez parmi les entreprises et trouvez celle qui vous correspond !</h1>


    <div class="filterText"> 
        <input class="search-company" placeholder="Rechercher une compagnie" (keyup)="filter($event)">
    </div>
    <div class="list-companies">
        <div *ngFor="let company of companiesList" class="company-box">
            <div routerLink="/companies/{{company._id}}">
                <p class="company-name">{{company.name}}</p>
                <img class="img-company" src="{{company.srcImage}}">
            </div>
        </div>
    </div>

</div>