/* You can add global styles to this file, and also import other style files */

/* Fonts */

@font-face {
    font-family: 'EvSansBold';
    src: url('/assets/fonts/EvSansBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvSansLight';
    src: url('/assets/fonts/EvSansLight.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvSansMedium';
    src: url('/assets/fonts/EvSansMedium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvSansRegular';
    src: url('/assets/fonts/EvSansRegular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvSansThin';
    src: url('/assets/fonts/EvSansThin.otf');
    font-weight: normal;
    font-style: normal;
}


/* Styles */

body {
    margin: 0;
    margin-top: 10vh;
}

h1 {
    font-family: EvSansBold, Calibri;
}

h2 {
    font-family: EvSansMedium, Calibri;
}

h3 {
    font-family: EvSansRegular, Calibri;
}

h4 {
    font-family: EvSansLight, Calibri;
}

h5 {
    font-family: EvSansThin, Calibri;
}

//Container

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexRow-spaceBet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//Text
.noSpace {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.smallSpace {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.color-blue-light{
    color:var(--color-blue-light);
}

.color-blue-medium{
    color:var(--color-blue-medium);
}

//Style général

//Materials
input{
    border:0px;
    &:focus{
        outline: none;
    }
}

.button:hover{
    cursor: pointer;
}