
<h1>Ajouter une offre</h1>

<p>Titre</p>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Titre" [(ngModel)]="newOffer.title">
</mat-form-field>

<p>Type</p>
<div>
    <mat-form-field>
        <mat-label>Type d'expérience</mat-label>
        <mat-select [(value)]="newOffer.type">
        <mat-option value="">--</mat-option>
        <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<p>Sector</p>
<div>
    <mat-form-field>
      <mat-label>Secteur</mat-label>
      <mat-select [(value)]="newOffer.sector">
        <mat-option value="">--</mat-option>
        <mat-option *ngFor="let sector of sectorList" [value]="sector">{{sector}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<p>Date de début</p>
<div>
    <mat-form-field>
      <input matInput [matDatepicker]="dp" placeholder="Date de début souhaitée" [formControl]="dateStart">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (yearSelected)="chosenYearHandler($event)"
                      (monthSelected)="chosenMonthHandler($event, dp)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
</div>

<p>Localisation</p>
<mat-form-field class="example-full-width">
    <input type="text" placeholder="Pays" aria-label="Number" matInput [(ngModel)]="locationCountry" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let country of listCountries" [value]="country">
        {{country}}
    </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Ville" [(ngModel)]="locationCity">
</mat-form-field>

<p>Desc</p>
<ckeditor [editor]="editor" [(ngModel)]="newOffer.description"></ckeditor>

<p>Remun</p>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Rémunération" [(ngModel)]="newOffer.remuneration">
    <span matSuffix>€ &nbsp;</span>
</mat-form-field>

<p>duration</p>
<div>
    <mat-form-field>
        <mat-label>Durée</mat-label>
        <mat-select [(value)]="newOffer.duration">
            <mat-option value="">--</mat-option>
            <mat-option *ngFor="let time of timeList" [value]="time">{{time}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<p>softSkill selection</p>

<form [formGroup]="softSkillForm">
    <mat-select-autocomplete
      [placeholder]="'--'"
      [selectPlaceholder]="'Rechercher'"
      [options]="listSoftSkills"
      [display]="'display'"
      [value]="'value'"
      [multiple]='true'
      name="optionsSelector"
      ngDefaultControl
      [formControl]="softSkillForm.controls['selected']"
      (selectionChange)="getSelectedOptions('softskill', $event)">
    </mat-select-autocomplete>
</form>

<p>Domains selection</p>
<form [formGroup]="domainsForm">
    <mat-select-autocomplete
      [placeholder]="'--'"
      [selectPlaceholder]="'Rechercher'"
      [options]="listDomains"
      [display]="'display'"
      [value]="'value'"
      [multiple]='true'
      name="optionsSelector"
      ngDefaultControl
      [formControl]="domainsForm.controls['selected']"
      (selectionChange)="getSelectedOptions('domain', $event)">
    </mat-select-autocomplete>
</form>
<div class="button" (click)="addOffer()">Ajouter</div>