<div *ngIf="!isEdition"><img class="bg" src="../../../../../assets/images/background-test.jpg"/></div>

<div class="offer-sheet">
    <img class="button closeLogo" (click)="openOrCloseModalSave()" src="../../../../assets/images/cross-light.svg">

    <div class="modalSave" *ngIf="modalSave">
        <h3>Voulez-vous vraiment abandonner l'édition de l'offre ?</h3>
        <div style="display: flex; justify-content: space-evenly;">
            <p class="button btn btn-delete" routerLink="/profile">Abandonner</p>
            <p class="button btn" (click)="openOrCloseModalSave()">Retour</p>
        </div>
    </div>

    <h1 *ngIf="!isEdition" class="center">Ajouter une offre</h1>
    <h1 *ngIf="isEdition" class="center">Editer une offre</h1>
    <br/>

    <h2>Informations générales</h2>

    <div class="center">
        <mat-form-field class="center title">
            <input matInput placeholder="Titre de l'offre" [(ngModel)]="offerOnForm.title">
        </mat-form-field>
    </div>
    
    <div class="center">
        <mat-form-field class="center">
            <mat-label>Type d'expérience</mat-label>
            <mat-select [(value)]="offerOnForm.type">
            <mat-option value="">--</mat-option>
            <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="center">
          <mat-label>Secteur</mat-label>
          <mat-select [(value)]="offerOnForm.sector">
            <mat-option value="">--</mat-option>
            <mat-option *ngFor="let sector of sectorList" [value]="sector">{{sector}}</mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field class="center">
            <mat-label>Durée</mat-label>
            <mat-select [(value)]="offerOnForm.duration">
                <mat-option value="">--</mat-option>
                <mat-option *ngFor="let time of timeList" [value]="time">{{time}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="center">
          <input matInput [matDatepicker]="dp" placeholder="Date de début souhaitée" [formControl]="dateStart">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (yearSelected)="chosenYearHandler($event)"
                          (monthSelected)="chosenMonthHandler($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
    </div>
    
    
    <h2>Description</h2>
    <ckeditor [editor]="editor" [(ngModel)]="offerOnForm.description"></ckeditor>

    <br/>

    <h2>Informations complémentaires</h2>

    <div class="center">
        <mat-form-field class="center">
            <input type="text" placeholder="Pays" aria-label="Number" matInput [(ngModel)]="locationCountry" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let country of listCountries" [value]="country">
                {{country}}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="center">
            <input matInput placeholder="Ville" [(ngModel)]="locationCity">
        </mat-form-field>
    
        <mat-form-field class="center">
            <input matInput placeholder="Rémunération" [(ngModel)]="offerOnForm.remuneration">
            <span matSuffix>€ &nbsp;</span>
        </mat-form-field>
    </div>
    
    
    <div class="center ligne">
        <div>
            <p>Soft Skills Recherchés</p>
            <form [formGroup]="softSkillForm" class="qcm">
                <mat-select-autocomplete
                [placeholder]="'--'"
                [selectPlaceholder]="'Rechercher'"
                [options]="listSoftSkills"
                [display]="'display'"
                [value]="'value'"
                [multiple]='true'
                name="optionsSelector"
                ngDefaultControl
                [formControl]="softSkillForm.controls['selected']"
                (selectionChange)="getSelectedOptions('softskill', $event)">
                </mat-select-autocomplete>
            </form>
        </div>
        
        <div>
            <p>Domaines</p>
            <form [formGroup]="domainsForm" class="qcm">
                <mat-select-autocomplete
                [placeholder]="'--'"
                [selectPlaceholder]="'Rechercher'"
                [options]="listDomains"
                [display]="'display'"
                [value]="'value'"
                [multiple]='true'
                name="optionsSelector"
                ngDefaultControl
                [formControl]="domainsForm.controls['selected']"
                (selectionChange)="getSelectedOptions('domain', $event)">
                </mat-select-autocomplete>
            </form>
        </div>        
    </div>
    <br/>

    <h3 class="button btn-success" *ngIf="!isEdition" (click)="addOrEditOffer()">Ajouter</h3>
    <h3 class="button btn-success" *ngIf="isEdition" (click)="addOrEditOffer()">Modifier</h3>
</div>


