h1 {
    text-align: center;
    font-style: oblique;
    font-size: x-large;
    color: var(--color-blue-medium);
}

.listOffers {
    width: 75vw;
    margin: auto;
    position: relative;

    .logoSort {
        width: 2vw;
        height: 2vw;
        align-self: flex-end;
        margin-right: -2vw;
        padding: 0.5vw;
    }

    .choiceFilter {
        position: absolute;
        background-color: white;
        padding: 0px 1.5vw;
        box-shadow: var(--shadow-light);
        right: -5px;
        top: 1.5vw;
        z-index: 1;

        .check {
            margin-right: 15px;
            font-weight: bold;
            color: green;
        }

        .isSelectable {
            cursor: pointer;

            &:hover {
                p {
                    text-decoration: underline;
                }
            }
        }
    }

    .oneOffer {
        margin-bottom: 2vh;

        &:focus,
        &:active,
        &:visited {
            outline: none;
            -moz-outline-style: none;
            outline-style: none;
        }
    }
}

.loadingScreen {
    margin-top: 10vh;

    .loader {
        animation: spinningColor 1.5s ease-in-out infinite;
        margin: 50px auto;
        border: 5px double #f0eff5;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    @keyframes spinningColor {
        0% {
            transform: rotate(360deg);
            border-top: 5px dashed var(--color-orange);
            border-bottom: 5px dashed var(--color-blue-medium);
        }

        25% {
            border-top: 5px dashed var(-color-orange);
            border-bottom: 5px dashed var(--color-blue-medium);
        }

        50% {
            border-top: 5px dashed var(-color-orange);
            border-bottom: 5px dashed var(--color-blue-medium);
        }

        75% {
            border-top: 5px dashed var(-color-orange);
            border-bottom: 5px dashed var(--color-blue-medium);
        }

        100% {
            border-top: 5px dashed var(-color-orange);
            border-bottom: 5px dashed var(--color-blue-medium);
        }
    }
}

.noOffersDiv {
    margin-top: 10vh;

    h1 {
        margin-bottom: 5vh;
    }
}

.logo {
    width: 10vw;
    margin: auto;
    display: block;
}

.slogan {
    text-align: center;
    color: gray;
}

.addNotif,
.notifAdded {
    border: 1px solid black;
    width: 10vw;
    padding: 1vh 2vw;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    border-radius: 0.43em;
    align-content: center;

    p {
        margin: 0px;
    }
}

.addNotif {
    background-color: #fcffc8;

    img {
        width: 1vw;
        display: block;
    }
}

.notifAdded {
    background-color: #c8ffcd;

    p {
        width: 100%;
    }
}